//- .footer
//-   p &copy;
//-     |2013

script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/app.js')
//- script(type='text/javascript').
//-   $(document).ready(function() {
    
//-     console.log("test")
//-   });
block footer