extends ../layouts/default

block link
  -var selected = 'Graphs';

block content
  div.jumbotron.metrics
    h1 Metrics
    - if (listings.length)
      select.form-control.listings-dropdown
        option(value="None")
          | Select a listing
        - each listing in listings
          option(value=listing._id)
            = listing.universalName
      div.type-radio
        input(type="radio", name="type", value="views", checked)
        label Views
        input(type="radio", name="type", value="downloads")
        label Downloads
        input(type="radio", name="type", value="ratings")
        label Ratings
        input(type="radio", name="type", value="comments")
        label Comments
        input(type="radio", name="type", value="search rank")
        label Search Rank
        input(type="radio", name="type", value="search terms")
        label Search Terms
      div.view-graph-radio
        input(type="radio", name="graph", value="bar", checked)
        label Bar Graph
        input(type="radio", name="graph", value="pie")
        label Pie Graph
        input(type="radio", name="graph", value="comparison")
        label Comparison Graph
      div.view-compare-checkboxes
        input.view-compareDownloads-checkbox(type="checkbox", name="compare", value="downloads")
        label.compareDownloads-label Downloads
      div.date-selection
        label Select date:
        select.month-dropdown
          option(value="00")
            = "None"
          option(value="01")
            = "January"
          option(value="02")
            = "February"
          option(value="03")
            = "March"
          option(value="04")
            = "April"
          option(value="05")
            = "May"
          option(value="06")
            = "June"
          option(value="07")
            = "July"
          option(value="08")
            = "August"
          option(value="09")
            = "September"
          option(value="10")
            = "October"
          option(value="11")
            = "November"
          option(value="12")
            = "December"
        select.day-dropdown
          option(value="00")
            = "None"
          - for (var day=1; day <= 31; day++)
            option(value=day)
              = day
        select.year-dropdown
          - for (var year=2013; year >= 2011; year--)
            option(value=year)
              = year
        input.yearly-checkbox(type="checkbox", name="yearly", value="yearly")
        label.yearly-label Show Yearly
- else
      p.muted No metrics.&nbsp;


block scripts
  script(src='/js/graphsApp.js')
  script(src='/js/d3.layout.cloud.js')
