extends ../layouts/default

block link
  -var selected = 'Graphs';

block content
  div.jumbotron.metrics
    h1 Metrics
    - if (listings.length)
      select.form-control.listings-dropdown
        option(value="None")
          | Select a listing
        - each listing in listings
          option(value=listing._id)
            = listing.universalName
      div.type-radio
        input(type="radio", name="type", value="views", checked)
        label Views
        input(type="radio", name="type", value="downloads")
        label Downloads
        input(type="radio", name="type", value="ratings")
        label Ratings
        input(type="radio", name="type", value="comments")
        label Comments
        input(type="radio", name="type", value="search rank")
        label Search Rank
        input(type="radio", name="type", value="search terms")
        label Search Terms
      div.view-graph-radio
        input(type="radio", name="graph", value="bar", checked)
        label Bar Graph
        input(type="radio", name="graph", value="pie")
        label Pie Graph
        input(type="radio", name="graph", value="comparison")
        label Comparison Graph
      div.view-compare-checkboxes
        input.view-compareDownloads-checkbox(type="checkbox", name="compare", value="downloads")
        label.compareDownloads-label Downloads
      label Select year:
      select.year-dropdown
        - for (var year=2013; year >= 2011; year--)
          option(value=year)
            = year
- else
      p.muted No metrics.&nbsp;


block scripts
  script(src='/js/graphsApp.js')
