extends ../layouts/default

block link
  -var selected = 'Home';

block content
  div.jumbotron.metrics
    h1 Metrics
    - if (listings.length)
      select.form-control.listings-dropdown
        option(value="None")
          | Select a listing
        - each listing in listings
          option(value=listing._id)
            = listing.displayName
    - else
      p.muted No metrics.&nbsp;


block scripts
  script(src='/js/app.js')
  link(rel="stylesheet", href="/css/app.css")