.jumbotron {
  text-align: center;
  background-color: transparent;
  padding-top: 0;
}


.metric {
  font: 11px sans-serif;
}

.listings-dropdown {
  width: 300px;
  margin: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

