.jumbotron {
  text-align: center;
  background-color: transparent;
  padding-top: 0;
}

.metric {
  font: 10px sans-serif;
}

.listings-dropdown {
  width: 300px;
  margin: auto;
}

label {
  margin-right: 15px;
}

.x-axis path {
  fill: lightgrey;
  stroke: lightgrey;
}

.x-axis .tick text {
  fill: black;
  stroke: black;
  opacity: .75;
  -ms-transform: translate(20px,0px);
  -moz-transform: translate(20px,0px);
  -webkit-transform: translate(20px,0px);
}

.y-axis path {
  display: none;
}

.y-axis .tick {
  fill: black;
  stroke: black;
}

.y-axis line {
  fill: lightgrey;
  stroke: lightgrey;
  opacity: .5;
  stroke-width: 4;
}

.y-axis text {
  display: none;
}

.lines {
  stroke: grey;
  opacity: .5;
}

.scale {
  stroke: grey;
  font-size: 14px;
  opacity: .75;
}

.mini-circles {
  fill: none;
  stroke: grey;
  opacity: .5;
}

.compareViews-label {
  color: blue;
}

.compareDownloads-label {
  color: orange;
}

.average-line {
  fill: none;
  stroke: #1A7AEA;
  stroke-width: 8;
}

.dots {
  fill: #1A7AEA;
  stroke: #1A7AEA;
}

.rate-lines {
  stroke: none;
}